<!DOCTYPE html>
<html lang="it">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {{ page.title }}{% if page.title != site.name %} &ndash; Dungeon World in
      Italiano {% endif %}
    </title>
    <meta
      name="description"
      content="La traduzione italiana, libera e gratuita, di Dungeon World, il gioco di ruolo di Adam Koebel e Sage LaTorra."
    />
    <meta
      name="keywords"
      content="Dungeon World,GDR,RPG,traduzione,Italiano,storygames"
    />
    <meta name="author" content="Claudio Freda" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="HandheldFriendly" content="true" />
    <link rel="icon" type="image/png" href="/images/icon32.png" />
    <link
      rel="apple-touch-icon"
      type="image/png"
      href="/images/touchicon.png"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Neuton:200,300,400,700,400italic|Josefin+Sans:700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=IM+Fell+English"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Alegreya"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/css/all.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Dungeon World</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Il Gioco
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="/introduzione">Introduzione</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/come-giocare">Come Giocare</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/esempio"
                    >Esempio di Partita</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/creazione-personaggi"
                    >Creazione dei Personaggi</a
                  >
                </li>
                <li><a class="dropdown-item" href="/mosse">Mosse</a></li>
                <li>
                  <a class="dropdown-item" href="/equipaggiamento"
                    >Equipaggiamento</a
                  >
                </li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Classi
              </a>
              <ul class="dropdown-menu">
                <li class="nav-header">Classi Base</li>
                <li><a class="dropdown-item" href="/barbaro">Barbaro</a></li>
                <li><a class="dropdown-item" href="/bardo">Bardo</a></li>
                <li><a class="dropdown-item" href="/chierico">Chierico</a></li>
                <li><a class="dropdown-item" href="/druido">Druido</a></li>
                <li>
                  <a class="dropdown-item" href="/guerriero">Guerriero</a>
                </li>
                <li><a class="dropdown-item" href="/ladro">Ladro</a></li>
                <li><a class="dropdown-item" href="/mago">Mago</a></li>
                <li><a class="dropdown-item" href="/paladino">Paladino</a></li>
                <li><a class="dropdown-item" href="/ramingo">Ramingo</a></li>
                <li class="nav-header">Classi Aggiuntive</li>
                <li>
                  <a class="dropdown-item" href="/classi/monaco">Monaco</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/classi/spadaccino"
                    >Spadaccino</a
                  >
                </li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Fare il GM
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/il-gm">Il GM</a></li>
                <li>
                  <a class="dropdown-item" href="/prima-sessione"
                    >Prima Sessione</a
                  >
                </li>
                <li><a class="dropdown-item" href="/fronti">Fronti</a></li>
                <li><a class="dropdown-item" href="/il-mondo">Il Mondo</a></li>
                <li>
                  <a class="dropdown-item" href="/tecniche-avanzate"
                    >Tecniche Avanzate
                    <span class="label label-default">inglese</span></a
                  >
                </li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Mostri
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/mostri">Panoramica</a></li>
                <li class="nav-header">Ambientazioni</li>
                <li>
                  <a class="dropdown-item" href="/mostri-caverne"
                    >Abitanti delle Caverne</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/mostri-paludi"
                    >Abitanti delle Paludi</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/mostri-esperimenti"
                    >Esperimenti Perversi</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/mostri-foreste"
                    >Foreste Intricate</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/mostri-genti"
                    >Genti del Reame</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/mostri-non-morti"
                    >Legioni dei Non Morti</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/mostri-orde"
                    >Orde Fameliche</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/mostri-piani"
                    >Poteri Planari</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/mostri-profondita"
                    >Profondità della Terra
                  </a>
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/downloads">Downloads</a>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Altro
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/crediti">Crediti</a></li>
                <li>
                  <a class="dropdown-item" href="/glossario"
                    >Glossario: differenze con Narrattiva</a
                  >
                </li>
                <li class="nav-header">Link Ufficiali</li>
                <li>
                  <a class="dropdown-item" href="https://www.dwsrd.org/"
                    >Dungeon World in Inglese</a
                  >
                </li>
                
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="wrap">
      <div id="content" class="container">
        <div class="page-header">
          <h1>{{ page.title }}</h1>
        </div>
        {{ content }}
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
